/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 7.2rem;

	/*========== Colors ==========*/
	--hue: 45; //  Yellow: 45   | Red: 4 | Orange: 18  | Green: 118
	--sat: 98%; // Yellow: 98% | Red: 90% | Orange: 85% | Green: 50%
	--first-color: #10375c;
	--first-color-light: #2e80ce;
	--title-color: #10375c;
	--text-color: #575f66;
	--text-color-light: #c9d2da;
	--text-white-color: #fff;
	--body-color: #ffffff;
	--container-color: #fff;
	--scroll-bar-color: #dadad7;
	--scroll-thumb-color: #c2c1bd;

	/*========== Font and typography ==========*/
	--body-font: "Sora", sans-serif;

	--biggest-font-size: 7rem;
	--h2-font-size: 5rem;
	--h3-big-font-size: 2.6rem;
	--h3-small-font-size: 1.6rem;
	--normal-font-size: 1.8rem;
	--small-font-size: 1.6rem;
	--smaller-font-size: 1.4rem;

	// Responsive typography
	@media screen and (max-width: 967.98px) {
		--biggest-font-size: 4.8rem;
		--h2-font-size: 3.2rem;
		--h3-big-font-size: 2rem;
		--h3-small-font-size: 1.5rem;
		--normal-font-size: 1.5rem;
		--small-font-size: 1.4rem;
		--smaller-font-size: 1.3rem;
	}

	/*========== Font weight ==========*/
	--font-light: 300;
	--font-regular: 400;
	--font-semi-bold: 600;
}
