/*=============== NEWS ===============*/
.news {
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__data {
		display: flex;
		width: 470px;
		flex-direction: column;
		flex-shrink: 0;
		row-gap: 28px;
	}
	&__title {
		margin: 0;
	}
	&__more {
		color: #10375c;
		font-weight: var(--font-semi-bold);
		text-decoration-line: underline;
	}
	&__list {
		display: flex;
		column-gap: 30px;
	}
	&-item {
		max-width: 270px;
		border-radius: 12px;
		border: 1px solid #e8ebee;
		background: #fff;
		overflow: hidden;
		&:hover &__img {
			transform: scale(1.1);
		}
		&__thumb {
			height: 172px;
			overflow: hidden;
		}
		&__img {
			transition: 0.25s ease-out;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__content {
			padding: 18px 22px 21px;
		}
		&__title {
			font-size: var(--h3-small-font-size);
			line-height: 1.625;
		}
		&__desc {
			margin-top: 10px;
			font-size: var(--smaller-font-size);
			line-height: 1.7;
		}
		&__more {
			display: inline-block;
			margin-top: 12px;
			color: var(--first-color);
			font-size: var(--smaller-font-size);
			font-weight: var(--font-regular);
			&:hover {
				color: var(--first-color-light);
			}
		}
	}
}
