/*=============== REUSABLE CSS CLASSES ===============*/
.section {
	margin: 170px 0;

	&__title {
		font-size: var(--h2-font-size);
		color: var(--title-color);
		margin-bottom: 18px;
		&--center {
			text-align: center;
		}
		&--member {
			margin-bottom: 38px;
		}
	}
}

.svg {
	&__color {
		fill: #eff6fd;
	}
	&__blob {
		fill: var(--first-color);
	}
	&__img {
		width: 300px;
		justify-self: center;
	}
}

/*=============== LAYOUT ===============*/
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.grid {
	display: grid;
	gap: 13rem;
}
